{% extends "tutorial/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Nouveau
{% endblock %}

{% block headline %}
    Nouveau tutoriel
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Nouveau</a></li>
{% endblock %}

{% block content %}

{% include "tutorial/help_writting.part.html" %}

<div class="row">
    <div class="large-8 columns">
        {% crispy form %}
    </div>
    <div class="large-1 columns" style="text-align: center;">
        <h3><small>ou</small></h3>
    </div>
    <div class="large-3 columns">
        <a href="{% url "pdp.tutorial.views.import_tutorial" %}" class="button large">
            Importer<br />
            <small>depuis un fichier</small>
        </a>
    </div>
</div>

{% endblock %}
